In [7]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [8]:
rr2015 = pd.read_csv("roadRatingNew2015.csv")
rr2014 = pd.read_csv("roadRatingNew2014.csv")
rr2013 = pd.read_csv("roadRatingNew2013.csv")
rr2012 = pd.read_csv("roadRatingNew2012.csv")

In [15]:
rr2014.columns.values
names = rr2014.columns.tolist()
names[names.index('NumofYears')] = 'NumofYrs'
rr2014.columns = names

In [44]:
rrmerger = pd.concat([rr2015,rr2014,rr2013,rr2012])

In [17]:
rrmerger.head()

,NumofYrs,block,class,classnum,crack,dateLastOverlay,dateRated,flushOil,flushOilNum,length,overall,patch,pavement,streetDirection,streetID,streetName,streetType,stretTypeNum,width
0,31,0,Local,1,2.0,1985,4/15/2016,NaN,1,606.0,5.0,4.0,NaN,NaN,12572861,KINGSLEY,PL,1,0.0
1,28,100,Local,1,3.0,1988,4/14/2016,O,2,530.0,6.0,4.0,3,NaN,12581174,ABERDEEN,TER,2,22.0
2,31,100,Local,1,4.0,1985,4/15/2016,O,2,588.0,6.0,2.0,3,NaN,12576512,ACADEMY,PL,1,28.0
3,17,100,Local,1,4.0,1999,4/15/2016,O,2,325.0,8.0,4.0,3,NaN,12571714,ACADEMY,ST,3,25.0
4,1,100,Local,1,5.0,2015,6/15/2016,F,3,176.0,10.0,5.0,6,E,12577644,ADAMS,ST,3,64.0

In [18]:
len(rrmerger.index)

19525

In [11]:
del rrmerger['NumofYears']

In [45]:
rrmerger.to_csv('roadRatingNew2012-2015.csv')

In [ ]:
rr2011 = pd.read_csv("roadRatingNew2011.csv")
rr2010 = pd.read_csv("roadRatingNew2010.csv")
rr2009 = pd.read_csv("roadRatingNew2009.csv")
rr2008 = pd.read_csv("roadRatingNew2008.csv")
rr2007 = pd.read_csv("roadRatingNew2007.csv")
rr2006 = pd.read_csv("roadRatingNew2006.csv")
rr2005 = pd.read_csv("roadRatingNew2005.csv")
rr2004 = pd.read_csv("roadRatingNew2004.csv")
rr2003 = pd.read_csv("roadRatingNew2003.csv")
rr2002 = pd.read_csv("roadRatingNew2002.csv")
rr2001 = pd.read_csv("roadRatingNew2001.csv")
rr2000 = pd.read_csv("roadRatingNew2000.csv")
rrmerger = pd.concat([rr2011,rr2010,rr2009,rr2008,rr2007,rr2006,rr2005,rr2004,rr2003,rr2002,rr2001,rr2000])

In [39]:
rr2012['dateRated'].unique()

array(['6/4/2016', '12/11/2016', '3/11/2016', '2/11/2016', '1/12/2016',
       '3/12/2016', '2/12/2016', '1/11/2016', '11/5/1900', '7/6/2016',
       '11/11/2016', '9/9/2016', '6/6/2016', '9/1/2016', '9/7/2016',
       '10/11/2016', '8/5/2016', '11/1/1995', '9/8/2016', '3/8/2016',
       '11/6/1900', '12/6/2016', 'BRICK', '12/1/1996', '9/10/2016',
       '6/9/2016', '8/7/2016', '8/6/2016', '7/10/2016', '8/11/2016',
       '3/7/2016', '5/1/2016', '11/1/1993', '10/10/2016', '12/1/1998',
       '7/29/1900', '1`/11', '6/10/2016', '3/1/2000', '6/11/2016', nan,
       '7/11/2016', '1//1', '1/1/1900', '4/25/1903', '2/1/2016',
       '1/15/1903', '1/11/1900', '12/7/2007', '33/06', '3/5/2016',
       '12/07        12/07', '3/1/2016', '1/2/1900'], dtype=object)

In [42]:
for i in range(0,len(rr2012['dateRated'])):
    if rr2012['dateRated'][i]=="BRICK":
        rr2012['dateRated'][i]="01/01/1985"
    elif rr2012['dateRated'][i]=="33/06":
        rr2012['dateRated'][i]="01/01/1985"
    elif rr2012['dateRated'][i]=="12/07        12/07":
        rr2012['dateRated'][i]="01/01/1985"

C:\Program Files (x86)\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Program Files (x86)\Anaconda3\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [43]:
rr2012['dateRated'].unique()

array(['6/4/2016', '12/11/2016', '3/11/2016', '2/11/2016', '1/12/2016',
       '3/12/2016', '2/12/2016', '1/11/2016', '11/5/1900', '7/6/2016',
       '11/11/2016', '9/9/2016', '6/6/2016', '9/1/2016', '9/7/2016',
       '10/11/2016', '8/5/2016', '11/1/1995', '9/8/2016', '3/8/2016',
       '11/6/1900', '12/6/2016', '01/01/1985', '12/1/1996', '9/10/2016',
       '6/9/2016', '8/7/2016', '8/6/2016', '7/10/2016', '8/11/2016',
       '3/7/2016', '5/1/2016', '11/1/1993', '10/10/2016', '12/1/1998',
       '7/29/1900', '1`/11', '6/10/2016', '3/1/2000', '6/11/2016', nan,
       '7/11/2016', '1//1', '1/1/1900', '4/25/1903', '2/1/2016',
       '1/15/1903', '1/11/1900', '12/7/2007', '3/5/2016', '3/1/2016',
       '1/2/1900'], dtype=object)