In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [3]:
rr2015 = pd.read_csv("roadRatingNew2015.csv")
rr2014 = pd.read_csv("roadRatingNew2014.csv")
rr2013 = pd.read_csv("roadRatingNew2013.csv")
rr2012 = pd.read_csv("roadRatingNew2012.csv")
rr2011 = pd.read_csv("roadRatingNew2011.csv")
rr2010 = pd.read_csv("roadRatingNew2010.csv")
rr2009 = pd.read_csv("roadRatingNew2009.csv")
rr2008 = pd.read_csv("roadRatingNew2008.csv")
rr2007 = pd.read_csv("roadRatingNew2007.csv")
rr2006 = pd.read_csv("roadRatingNew2006.csv")
rr2005 = pd.read_csv("roadRatingNew2005.csv")
rr2004 = pd.read_csv("roadRatingNew2004.csv")
rr2003 = pd.read_csv("roadRatingNew2003.csv")
rr2002 = pd.read_csv("roadRatingNew2002.csv")
rr2001 = pd.read_csv("roadRatingNew2001.csv")
rr2000 = pd.read_csv("roadRatingNew2000.csv")

In [4]:
rrmerger = pd.concat([rr2015,rr2014,rr2013,rr2012,rr2011,rr2010,rr2009,rr2008,rr2007,rr2006,rr2005,rr2004,rr2003,rr2002,rr2001,rr2000])

In [5]:
rrmerger.head()

,NumofYears,NumofYrs,block,class,classnum,crack,dateLastOverlay,dateRated,flushOil,flushOilNum,length,overall,patch,pavement,streetDirection,streetID,streetName,streetType,stretTypeNum,width
0,NaN,31,0,Local,1,2,1985,4/15/2016,NaN,1,606,5,4,NaN,NaN,12572861,KINGSLEY,PL,1,0.0
1,NaN,28,100,Local,1,3,1988,4/14/2016,O,2,530,6,4,3,NaN,12581174,ABERDEEN,TER,2,22.0
2,NaN,31,100,Local,1,4,1985,4/15/2016,O,2,588,6,2,3,NaN,12576512,ACADEMY,PL,1,28.0
3,NaN,17,100,Local,1,4,1999,4/15/2016,O,2,325,8,4,3,NaN,12571714,ACADEMY,ST,3,25.0
4,NaN,1,100,Local,1,5,2015,6/15/2016,F,3,176,10,5,6,E,12577644,ADAMS,ST,3,64.0

In [8]:
len(rrmerger.index)

77821

In [9]:
rrmerger.to_csv('roadRatingAll.csv')